@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff.
*/
::selection {
	background-color: #a4c5ff;
}
*, *::after, *::before {
	border: none;
	box-sizing: inherit;
	color: inherit;
	font-family: inherit;
	font-kerning: auto;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	text-decoration: none;
	transition:
		background-color 0.2s ease-out,
		border 0.2s ease-out,
		box-shadow 0.2s ease-out,
		color 0.2s ease-out,
		opacity 0.2s ease-out,
		text-shadow 0.2s ease-out;
}
*:focus, *:hover, *:active {
	outline: none;
	text-decoration: none;
	transition:
		background-color 0.2s ease-out,
		box-shadow 0.2s ease-out,
		border 0.2s ease-out,
		color 0.2s ease-out,
		opacity 0.2s ease-out,
		text-shadow 0.2s ease-out;
}
#__tip__ {
	background: #284490;
	color: #ffffff;
	padding: 0.2em 0.4em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
}
#filter_card > table {
	border-spacing: 0;
}
#filter_card > table > thead > tr:first-child > th {
	text-align: center;
}
#filter_card > table > tbody > tr[data-column_rank="_"] > th:first-child {
	letter-spacing: 0.2em;
}
#filter_card > table > tbody > tr:hover {
	background: #f4f4f6;
}
#filter_card > table > tbody > tr > td > [type="search"],
#filter_card > table > tbody > tr > td > [type="text"],
#filter_card > table > tbody > tr > td > [type="url"],
#filter_card > table > tbody > tr > td > select {
	width: 100%;
}
#filter_card > table td,
#filter_card > table th {
	border-right: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	font-size: smaller;
	padding: 1px 4px;
	text-align: left;
}
#filter_card > table th {
	background: #dfe2f6;
	font-weight: normal;
	white-space: nowrap;
}
.abbr::after {
	content: "…";
}
.abbr:hover::after {
	content: "";
}
.abbr > .rest {
	display: none;
}
.abbr:hover > .rest {
	display: initial;
}
.arrowdown::after {
	color: #707070;
	content: "▼";
}
.arrowleft::before {
	color: #707070;
	content: "◀ ";
}
.arrowleftstop::before {
	color: #707070;
	content: "◀◀ ";
}
.arrowright::after {
	color: #707070;
	content: " ▶";
}
.arrowrightstop::after {
	color: #707070;
	content: " ▶▶";
}
.arrowup::before {
	color: #707070;
	content: "▲";
}
.blink,
.key:target,
.pagina:target,
a:target,
:is(h1, h2, h3, h4, h5, h6):target,
li:target,
p:target,
section:target > :is(h1, h2, h3, h4, h5, h6),
tr:target > td {
	animation: blink 2s;
	background-color: #ffffa0 !important;
}
.blinkblink {
	animation: blink 2s infinite;
	background-color: #ffffa0;
}
.card,
.card.sheet {
	background-color: #ffffff;
	border: none;
	box-shadow: 0 0 3px 0 #b0c0e0;
	display: inline-block;
	margin: 1px;
	padding: 5px 7px;
	z-index: 0;
}
.card.sheet {
	max-width: 50em;
	padding: 30px 40px 40px 40px;
}
:is(.card, .covertitle, .index, .sheet, article, header) > :is(.card, details, figure, h1, h2, h3, h4, h5, h6, p):first-child,
:is(.card, .covertitle, .index, .sheet, article, header) > :is(div, section):first-child > :is(.card, details, figure, h1, h2, h3, h4, h5, h6, p):first-child {
	margin-top: 0;
}
:is(.card, .covertitle, .index, .sheet, article) > :is(.card, details, figure, h1, h2, h3, h4, h5, h6, p):last-child,
:is(.card, .covertitle, .index, .sheet, article) > :is(div, section):last-child > :is(.card, details, figure, h1, h2, h3, h4, h5, h6, p):last-child {
	margin-bottom: 0;
}
.center {
	text-align: center;
}
.citebox {
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	color: #666666;
	font-size: 0.9em;
	margin-top: 3em;
	padding: 0.8em 15px;
	text-align: start;
}
.contextmenu {
	background-color: #ffffff;
	box-shadow: 0 0 3px 0 #b0c0e0;
	font-size: 0.8em;
	padding: 4px;
}
.contextmenu > form {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.contextmenu > form > button {
	text-align: start;
}
.contextmenu > form > button:empty::after {
	content: "________";
}
.cover {
	align-content: center;
	align-items: center;
	box-shadow: 0 1px 3px 0 #b0c0f4;
	height: auto;
	justify-content: center;
	max-width: 50em;
	padding: 8% 8%;
}
.covertitle {
	background-color: #ffffff;
	opacity: 0.88;
	padding: 5% 6% 6% 6%;
	text-shadow: 0 0 2px #ccccee;
}
.desk > body > footer {
	margin: 1em 2px 4em 22%;
}
.desk > body > header {
	float: left;
	height: 100%;
	overflow: auto;
	padding: 1% 1% 1% 2%;
	position: fixed;
	width: 21%;
	z-index: 1;
}
.desk > body > header .submenu summary + ul {
	box-shadow: 0 1px 3px 0 #b0c0f4 inset;
	padding: 4px 8px 8px 8px;
}
.desk > body > header form {
	display: flex;
	flex-wrap: nowrap;
	margin: 0.2em 0 0.4em 0;
	width: auto;
}
.desk > body > header form > input {
	width: calc(100% - 1.2em);
}
.desk > body > header form > input + .droparea {
	background-color: #f4f4f4;
	height: 0;
	left: 0;
	margin: 1.4em 1px 0 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-align: start;
	width: 100%;
}
.desk > body > header form > input + .droparea:hover,
.desk > body > header form > input:focus + .droparea {
	height: auto;
	opacity: 1;
	padding: 4px 8px 8px 8px;
	z-index: 3;
}
.desk > body > header form > input + .droparea > a {
	width: 1em;
}
.desk > body > header form > input + .droparea > table td,
.desk > body > header form > input + .droparea > table th {
	background: #e8e8e8;
	font-size: 0.7em;
	padding: 0 3px 0 3px;
	text-align: left;
	vertical-align: top;
}
.desk > body > header h1 {
	line-height: 1.1;
	margin: 0.5em 0 0.5em 0;
}
.desk > body > header h1 small {
	display: block;
}
.desk > body > header hr {
	background: #e0e0e8;
	border-top: 1px solid #e8e8ef;
	border-bottom: 2px solid #f8f8f8;
	height: 4px;
	margin: 0.3em 0;
	width: 100%;
}
:is(.desk, .desk_across) > body > header .extra {
	font-size: 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}
:is(.desk, .desk_across) > body > header .extra.lang {
	word-spacing: 0.5em;
}
:is(.desk, .desk_across) > body > header .submenu summary,
:is(.desk, .desk_across) > body > header :is(a, button) {
	border: none;
	color: #707070;
	cursor: pointer;
	text-shadow:
		0 1px 0 #fdfdfd,
		1px 1px 0 #fdfdfd,
		1px 0 0 #fdfdfd;
}
:is(.desk, .desk_across) > body > header a:not(.key):is(:focus, :hover) {
	background: #ffffff;
	border: none;
	box-shadow:
		0 0 0 2px #ffffff,
		0 0 5px 2px #66afff;
	color: #000000;
}
:is(.desk, .desk_across) > body > header a:not(.key):active {
	box-shadow: none;
}
.desk > body > main {
	margin-left: 22%;
	padding: 1% 4px 1% 0;
	width: 78%;
}
.desk_across {
	padding: 0.8vh 0.8vw 0.8vw 0.8vw;
}
.desk_across > body > header {
	align-items: baseline;
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0 1.2em;
}
.desk_across > body > header :is(.extra, h1, h2, h3, h4, h5, h6) {
	margin: 0;
}
.desk_across > body > header div,
.desk_across > body > header nav,
.desk_across > body > header nav > ul {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.8em;
}
.desk_across > body > header hr {
	display: none;
}
.desk_across > body > main {
	margin-bottom: 2em;
}
.dropcap::first-letter,
drop-cap {
	float: left;
	font-size: 2.86em;
	line-height: 0.6;
	padding: 0.19em 0.07em 0 0;
	vertical-align: text-top;
}
/* Begin of input-control rules: */
.editor *,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) > q a[href^="/lit/"], /* so that the rule allowing all a[href^="/lit/"] is not enough */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) :is(a[id^="./"], a[id^="-/"]), /* so that the rule allowing all a[id] is not enough */
.editor section[class="address"], /* so that we can restrict certain section[class] elements to be immediate children of article */
.editor section[class="closer"],
.editor section[class="opener"],
.editor section[class="ps"],
.editor section[class="session"] {
	outline: 8px outset #ff0000;
}
.editor > body,
.editor > body > #__tip__,
.editor > body > #__tip__ *,
.editor > body > main,
.editor > body > main > article,
.editor > body > main > article > :is(a[href^="./"]:empty, a[href^="-/"]:empty),
.editor > body > main > article > a[href^="/kapitel/"],
.editor > body > main > article > a[href^="/thema/"],
.editor > body > main > article > :is(a[id^="./"]:empty, a[id^="-/"]:empty),
.editor > body > main > article > h1,
.editor > body > main > article > section,
.editor > body > main .preannotation,
.editor section > section,
.editor section[class],
.editor section > :is(a[href^="./"]:empty, a[href^="-/"]:empty),
.editor section > a[href^="/kapitel/"],
.editor section > a[href^="/thema/"],
.editor section > :is(a[id^="./"]:empty, a[id^="-/"]:empty),
.editor section > figure,
.editor section > :is(h2, h3, h4, h5, h6):first-child,
.editor section > hr:empty,
.editor section > p,
.editor section > table,
.editor table > tbody, /* without section since tables may be nested */
.editor :is(table, tbody) > tr,
.editor tr > td,
.editor td > p,
.editor section > ul,
.editor ul > li,
.editor li > p,
.editor li > table,
.editor li > ul,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a:not([href]):not([id]), /* mere <a> to annotate key phrases */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) :is(a[href^="./"]:empty, a[href^="-/"]:empty), /* start of a page with image */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/bibel/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/doc/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/kapitel/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/lit/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/ort/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/person/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/stadt/"], /* for Otloh */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/stelle_in_stadt/"], /* for Otloh */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/system/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="/thema/"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="#"], /* corresponds with a[id] */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[href^="http"],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[id], /* corresponds with a[href^="#"] */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) :is(a[id^="./"]:empty, a[id^="-/"]:empty), /* start of a page without image */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[rel="cf"]:empty,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[rel="next"]:empty,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) a[rel="prev"]:empty,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) b,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) big,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) br:empty,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) c-low,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) c-mid,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) col-black,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) col-blue,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) col-brown,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) col-red,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) del,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) drop-cap,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) e-a,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) em,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) embed:empty,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) font,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) i,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) img,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) ins,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) ka-tex,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) ka-tex *,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) meta:empty,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-b,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-f,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-l,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-r,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-sub,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-sup,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-t,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) note-x,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) paste-in,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) q,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) q a[href^="/lit/"]:empty, /* reference in direct quotations */
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) re-ins,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) s,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) small,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) small-caps,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) span.padding-l,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) span[data-by],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) span[data-from],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) span[data-of],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) span[lang],
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) sub,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) sup,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) time,
.editor :is(h1, h2, h3, h4, h5, h6, li, p, td) u {
	outline: none;
}
/* End of input-control rules. */
.editor > body > main {
	background: #ffffff;
	color: #000000;
	margin: 1em auto;
	max-width: 40em;
	padding: 5px;
	text-align: justify;
}
:is(.edition, .editor) > body > main :is(.address, .label, .ps, .stamp),
:is(.edition, .editor) > body > main :is(/* in a separate bracket to not get increased specificity */
		e-a,
		figure,
		note-b,
		note-f,
		note-l,
		note-r,
		note-sub,
		note-sup,
		note-t,
		note-x,
		paste-in) {
	background: #ffffff;
	border: none;
	box-shadow:
		0 0.2px 3px 1px #b0c0e0,
		inset 0 0 0 1px #ffffff;
	padding: 2px 3px 2.5px 3px;
}
:is(.edition, .editor) > body > main .indent {
	margin-left: 1em;
}
:is(.edition, .editor) > body > main .margin-top {
	margin-top: 4em;
}
:is(.edition, .editor) > body > main .padding-l {
	padding-left: 3em;
}
:is(.edition, .editor) > body > main .preannotation {
	background: #001074;
	color: #ffffff;
	display: inline-block; /* needed to overwrite text-decoration */
	font-size: 0.75em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding: 1.5px 3.5px 1.5px 3.5px;
	text-decoration: none;
	top: -0.5em;
}
:is(.edition, .editor) > body > main > .preannotation {
	position: absolute;
	right: 0.3em;
	top: 1.1em;
	z-index: 1;
}
:is(.edition, .editor) > body > main .preannotation.data-by {
	background: cornflowerblue;
}
:is(.edition, .editor) > body > main .preannotation.data-from {
	background: green;
}
:is(.edition, .editor) > body > main .preannotation.data-of {
	background: maroon;
}
:is(.edition, .editor) > body > main .stanza {
	padding-left: 0.5em;
}
:is(.edition, .editor) > body > main :is(
		.stanza + :not(.stanza),
		:not(.stanza) + .stanza) {
	margin-top: 1.5em;
}
:is(.edition, .editor) > body > main *[data-by="hg"],
:is(.edition, .editor) > body > main a[href]:empty:is(:focus, :hover)::after,
.txtsrc {
	color: #001074;
}
.edition > body > main a:empty::after {
	color: #707070;
	content: "*";
}
.edition > body > main a:not(:is(
		[data-tipped],
		[href^="-/"],
		[href^="./"],
		[id^="-/"],
		[id^="./"])):empty:is(:hover, :focus)::before {
	background: #ffffff;
	box-shadow:
		0 0 0 1px #ffffff inset,
		0 0 3px 0 #aaafff;
	content: attr(href);
	font-size: 0.8em;
 	padding: 2.5px 3.5px 2.5px 3.5px;
	position: absolute;
	width: max-content;
	z-index: 1;
}
.editor > body > main a[href]:empty::after {
	color: #707070;
	content: attr(href);
}
:is(.edition, .editor) > body > main a:is(
		[href^="-/"],
		[href^="./"],
		[id^="-/"],
		[id^="./"]):empty::after {
	content: attr(id) attr(href);
}
:is(.edition, .editor) > body > main a:is(
		[rel="cf"],
		[rel="next"],
		[rel="prev"]) {
	background: #f7f8ff;
	border: none;
	box-shadow:
		0 0 0 1px #ffffff inset,
		0 0 3px 0 #aaafff;
	color: #707070;
	cursor: pointer;
	display: inline-block;
	font-size: 0.7em;
	line-height: 1.1;
	margin: 1px;
	padding: 3px;
}
:is(.edition, .editor) > body > main a:is(
		[rel="cf"],
		[rel="next"],
		[rel="prev"]):is(:focus, :hover) {
	background: #ffffff;
	border: none;
	box-shadow:
		0 0 0 1px #ffffff inset,
		0 0 6px 1.5px #66afff;
	color: #000000;
}
:is(.edition, .editor) > body > main a:is(
		[rel="cf"],
		[rel="next"],
		[rel="prev"]):active {
	background: #b8c8f8;
	border: none;
	box-shadow: 0 0 0 1px #ffffff inset;
	color: #000000;
}
:is(.edition, .editor) > body > main a[rel="cf"]::after {
	content: "↗";
}
:is(.edition, .editor) > body > main a[rel="next"]::after {
	content: "→";
}
:is(.edition, .editor) > body > main a[rel="prev"]::before {
	content: "←";
}
.editor > body > main :is(b, big, em, i, font, small, small-caps) {
	background: #efefe8;
}
:is(.edition, .editor) > body > main c-mid {
	filter: blur(0.1px) opacity(0.5);
}
:is(.edition, .editor) > body > main c-low {
	filter: blur(0.7px) opacity(0.4);
}
:is(.edition, .editor) > body > main col-black {
	color: black;
}
:is(.edition, .editor) > body > main col-blue {
	color: blue;
}
:is(.edition, .editor) > body > main col-brown {
	color: brown;
}
:is(.edition, .editor) > body > main col-red {
	color: red;
}
:is(.edition, .editor) > body > main e-a {
	box-shadow:
		0 0 3px 1px #00cc00,
		inset 0 0 0 1px #ffffff;
}
:is(.edition, .editor) > body > main :is(
		e-a,
		note-f,
		note-sup) {
	top: -0.2em;
}
:is(.edition, .editor) > body > main :is(
		e-a,
		note-b,
		note-f,
		note-l,
		note-r,
		note-sub,
		note-sup,
		note-t,
		note-x,
		paste-in) {
	font-size: 0.85em;
	z-index: 1;
}
:is(.edition, .editor) > body > main font {
	font-family: Consolas, monospace;
	font-size: 0.85em;
}
:is(.edition, .editor) > body > main :is(h2, h3, h4, h5, h6) {
	background: #ffffff;
	box-shadow: 0 0 1em 0 #ffffff;
	position: sticky;
	top: 0;
	z-index: 2;
}
:is(.edition, .editor) > body > main :is(h2, h3, h4, h5, h6, p).l,
:is(.edition, .editor) > body > main note-l {
	float: left;
	margin-right: 8px;
	position: relative;
	width: 30%;
}
:is(.edition, .editor) > body > main :is(h2, h3, h4, h5, h6, p).r,
:is(.edition, .editor) > body > main :is(note-r, note-x) {
	float: right;
	margin-left: 8px;
	width: 30%;
}
:is(.edition, .editor) > body > main hr {
	border-top: 1px solid #000000;
	margin: 1.5em auto 2em auto;
	width: 25%;
}
:is(.edition, .editor) > body > main meta {
	bottom: 0.5em;
	box-shadow: inset 0.1em 0.1em 0 0.1em #224488;
	display: inline-block;
	height: 0.4em;
	margin: 0 0 0 1.5px;
	position: relative;
	width: 0.4em;
}
:is(.edition, .editor) > body > main meta[data-to] {
	bottom: 0.3em;
	height: 0.6em;
}
:is(.edition, .editor) > body > main note-sub {
	bottom: -0.2em;
}
:is(.edition, .editor) > body > main paste-in {
	background: ivory;
}
:is(.edition, .editor) > body > main q {
	background: #faf4ff;
}
:is(.edition, .editor) > body > main section + section {
	border-top: 1.5px solid #e0e0e0;
	padding-top: 0.5em;
}
:is(.edition, .editor) > body > main table {
	border-collapse: collapse;
}
:is(.edition, .editor) > body > main td {
	border: 1px solid #dddddd;
	padding: 0 8px 0 8px;
	vertical-align: top;
}
:is(.edition, .editor) > body > main time[datetime]::after {
	background: #0058AA;
	color: #ffffff;
	content: "=" attr(datetime);
	font-size: 0.8em;
	padding: 0 3px;
	top: -0.25em;
}
:is(.edition, .editor) > body > main u[data-n="2"] {
	border-bottom: 1px solid #000000;
}
:is(.edition, .editor) > body > main u[data-n="3"] {
	border-bottom: 3px double #000000;
}
.embed_left {
	clear: both;
	display: block;
	float: left;
	line-height: 1;
	margin: 0.4em 2% 0.4em 0;
	z-index: 1;
}
.embed_right {
	clear: both;
	display: block;
	float: right;
	line-height: 1;
	margin: 0.4em 0 0.4em 2%;
	z-index: 1;
}
.end {
	text-align: end;
}
.flexbase {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
}
.flexcol {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.flexrow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.flextable > :is(label, label.key, label-group) {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 3px 0 3px 0;
}
.flextable > :is(label, label.key, label-group) > :first-child {
	flex: 0 0 auto;
	text-align: start;
}
.flextable > :is(label, label.key, label-group) > * + * {
	flex: 1 1 auto;
	text-align: start;
}
.flip {
	display: none;
}
.flip + .lid ~ button {
	background: #00aa00;
	display: none;
}
.flip + .lid ~ button[value="delete"] {
	background: #aa0000;
	color: #ffffff;
}
.flip + .lid ~ button:focus, .flip + .lid ~ button:hover {
	background: #00ed00;
	box-shadow: 0 0 8px 2px #00ed00;
}
.flip + .lid ~ button[value="delete"]:focus, .flip + .lid ~ button[value="delete"]:hover,
.warn:focus, .warn:hover {
	background: #ff0000;
	box-shadow: 0 0 8px 2px #ff0000;
}
.flip + .lid ~ button:active,
.flip + .lid ~ button[value="delete"]:active {
	box-shadow: none;
}
.flip + .menuswitch {
	display: none;
}
.flip + .notice + * {
	background: #000000;
	box-shadow: 0 0 200px 124px #ffff00;
	color: #ffffff;
	margin: 2px;
	padding-left: 1.5em;
	white-space: pre-wrap;
}
.flip + .notice::after {
	content: "✕";
}
.flip + .top {
	position: fixed;
	z-index: 9;
}
.flip + .top + * {
	position: fixed;
	z-index: 8;
}
.flip + [data-unchecked]::after {
	content: attr(data-unchecked);
}
.flip:checked + .lid ~ button {
	display: initial;
}
.flip:checked + .notice + * {
	display: none;
}
.flip:checked + .notice::after {
	content: "✚";
}
.flip:checked + [data-checked]::after {
	content: attr(data-checked);
}
.form {
	font-size: 1rem;
}
.form > table,
.form_admin > table {
	background: #dddde8;
	border-spacing: 3px;
	table-layout: fixed;
	width: 100%;
}
.form > table .marginal > td,
.form > table .marginal > td > div,
.form > table .marginal > th {
	font-size: 0.7em;
	line-height: 1;
}
.form > table table:hover .marginal > td,
.form > table table:hover .marginal > td > div {
	font-size: 1em;
	line-height: inherit;
}
.form > table td > button:first-of-type,
.form_admin > table td > button:first-of-type {
	height: 0.8em;
	line-height: 0;
	width: 100%;
}
.form > table th {
	width: 12em;
}
.form > table th,
.form_admin > table th {
	background: #8888d8;
	padding: 2px 4px 1px 4px;
	text-align: left;
	vertical-align: top;
}
.form_admin > table td {
	text-align: center;
}
.img {
	border: none;
	display: inline-block;
	max-width: 100%;
}
.img:active {
	border: none;
	box-shadow: none;
}
.img > img {
	display: block;
}
.index {
	background-color: #ffffff;
	border: none;
	box-shadow: 0 0 3px 0 #b0c0e0;
	display: table;
	font-size: smaller;
	margin: 1px;
	padding: 4px 6px;
	width: 100%;
}
.index .dataTables_filter {
	margin: 4px 0 4px 0;
}
.index .dataTables_info,
.index .dataTables_length,
.index .dataTables_paginate {
	display: inline-block;
	margin: 4px 4px 4px 0;
}
.index .dataTables_info,
.index .dataTables_length {
	box-shadow: 0 0 3px 0 #b0c0e0;
	padding: 1px 4px;
}
.index .paginate_button {
	display: inline-block;
	min-width: 24px;
	text-align: center;
}
.index .sorting::after {
	content: " ↕";
}
.index h1:first-child,
.index h2:first-child {
	display: inline-block;
	font-size: 1.35em;
	line-height: 1.1;
	margin-bottom: 0em;
}
.index > div > table {
	border-collapse: separate;
	border-spacing: 0;
	box-shadow: 0 1px 3px 0 #b0c0f4;
	margin: 3px 0;
	width: 100%;
}
.index > div > table td,
.index > div > table th {
	border-top: 1px solid #dddddd;
	padding: 2.5px 4px 2.5px 4px;
	vertical-align: top;
}
.index > div > table td[class^="sorting_"],
.index > div > table th:is(:focus, :hover, :active) {
	background: #ecf3fe;
}
.index > div > table td:not(:first-child) {
	border-left: 1px solid #dddddd;
}
.index > div > table th {
	background: #dfe2f6;
	box-shadow: 0 1px 1.2px 0 #d0d2e6;
	cursor: pointer;
	position: sticky;
	top: 0;
	z-index: 1;
}
.index > div > table th:not(:first-child) {
	border-left: 1px solid #ffffff;
}
.index > div > table th[data-filterless]::after {
	content: "";
}
.just {
	hyphens: auto;
	text-align: justify;
}
.just_ahyph {
	hyphens: manual;
	text-align: justify;
}
:is(.edition, .editor) > body > main a[href]:empty,
.key,
.paginate_button,
a.card,
a[onclick],
button {
	border: none;
	box-shadow:
		0 0 0 1px #ffffff inset,
		0 0 3px 0 #aaafff;
	cursor: pointer;
	display: inline-block;
}
:is(.edition, .editor) > body > main a:empty,
.key,
.paginate_button,
a[onclick],
button {
	background: #f7f8ff;
	line-height: 1.1;
	margin: 1px;
	padding: 2.5px 3.5px 2.5px 3.5px;
}
.key.dark,
.paginate_button.current,
button.dark,
button[onclick="c(this)"] {
	background: #002266;
	box-shadow: 0 0 3px 0 #aaafff;
	color: #e8f8ff;
}
.key.disabled, .key.disabled:is(:focus, :hover, :active),
.paginate_button.disabled, .paginate_button.disabled:is(:focus, :hover, :active),
a.card.disabled, a.card.disabled:is(:focus, :hover, :active),
a[onclick].disabled, a[onclick].disabled:is(:focus, :hover, :active),
button.disabled, button.disabled:is(:focus, :hover, :active) {
	background-color: inherit;
	box-shadow: 0 0 2px 0 #808080;
	color: #707070;
	cursor: default;
}
:is(.edition, .editor) > body > main :is(a[href]:empty:focus, a[href]:empty:hover),
.key:focus, .key:hover,
.flextable > label:focus, .flextable > label:hover,
.paginate_button:focus, .paginate_button:hover,
a.card:focus, a.card:hover,
a[onclick]:focus, a[onclick]:hover,
button:focus, button:hover,
.img:focus, .img:hover {
	background: #ffffff;
	border: none;
	box-shadow:
		0 0 0 1px #ffffff inset,
		0 0 6px 1.5px #66afff;
	color: #000000;
}
:is(.edition, .editor) > body > main a[href]:empty:active,
.key:active,
.paginate_button:active,
a.card:active,
a[onclick]:active,
button:active {
	background: #b8c8f8;
	border: none;
	box-shadow: 0 0 0 1px #ffffff inset;
	color: #000000;
}
.key[value="delete"],
button[value="delete"] {
	background: #aa0000;
	color: #ffffff;
}
.key[value="delete"]:focus, .key[value="delete"]:hover,
button[value="delete"]:focus, button[value="delete"]:hover {
	background: #ff0000;
	box-shadow: 0 0 8px 2px #ff0000;
}
.key[value="delete"]:active,
.key[value="release"]:active,
button[value="delete"]:active,
button[value="release"]:active {
	box-shadow: none;
}
.key[value="release"],
button[value="release"] {
	background: #00aa00;
}
.key[value="release"]:focus, .key[value="release"]:hover,
button[value="release"]:focus, button[value="release"]:hover {
	background: #00ed00;
	box-shadow: 0 0 8px 2px #00ed00;
}
.key > label,
button > label {
	cursor: pointer;
}
.leaflet-bottom.leaflet-right {
	bottom: -1.5em;
}
.leaflet-container {
	font-family: inherit;
	font-size: 0.8em;
	line-height: inherit;
}
.leaflet-container a.leaflet-popup-close-button {
	background: #ffffffcf;
	box-shadow: 0 0 3px 0 #b0c0e0;
}
.leaflet-popup-content {
	background: #ffffffcf;
	box-shadow: 0 0 3px 0 #b0c0e0;
	padding: 4px 8px;
}
.leaflet-popup,
.leaflet-popup-content-wrapper {
	background: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
	width: fit-content !important;
}
.leaflet-popup-tip,
.leaflet-popup-tip-container {
	display: none;
}
.lid ~ .key,
.lid ~ button {
	display: none;
}
.lid ~ .key:focus, .lid ~ .key:hover,
.lid ~ button:focus, .lid ~ button:hover,
.lid:focus ~ .key,
.lid:focus ~ button {
	display: initial;
}
.mapping td {
	background: #f0f0ff;
}
.mapping td,
.mapping th {
	padding: 2px 8px;
}
.mapping th {
	background: #dfe2f6;
	font-weight: normal;
	hyphens: manual;
	text-align: start;
	vertical-align: top;
}
.mapping th.light {
	background: #ffffff;
	font-weight: normal;
}
.mark,
mark {
	background-color: #ffffa0;
}
.p.petit {
	display: block;
	margin: 0.8em auto 0.8em auto;
	width: 91%
}
.petit,
small {
	font-size: 0.88em;
}
.shadow {
	box-shadow: 0 1px 3px 0 #b0c0f4;
}
.sheet {
	background-color: #ffffff;
	border: none;
	box-shadow: 0 0 3px 0 #b0c0e0;
	margin: 1px;
	max-width: 1111px;
	min-width: 81%;
	padding: 10% 12% 12% 12%;
	width: 81%;
}
.sheet + .sheet {
	margin-top: 5px;
}
.small-caps,
small-caps {
	font-variant: small-caps;
}
.start {
	text-align: start;
}
.txt { /*cp. txtsrc*/
	color: #000000;
}
.wide {
	width: 100%;
}
[dir="rtl"] > .arrowleft::before {
	content: "▶ ";
}
[dir="rtl"] > .arrowleftstop::before {
	content: "▶▶ ";
}
[dir="rtl"] > .arrowright::after {
	content: " ◀";
}
[dir="rtl"] > .arrowrightstop::after {
	content: " ◀◀";
}
[type="email"],
[type="password"],
[type="search"],
[type="text"],
[type="url"],
select,
textarea {
	box-shadow: 0 0 2px 0 #aaafff inset;
	max-width: 100%;
	padding: 0 3px 0 3px;
}
/* browsers do not accept checkbox styles and should provide styling. */
[type="email"]:focus, [type="email"]:hover,
[type="password"]:focus, [type="password"]:hover,
[type="search"]:focus, [type="search"]:hover,
[type="text"]:focus, [type="text"]:hover,
[type="url"]:focus, [type="url"]:hover,
select:focus, select:hover,
textarea:focus, textarea:hover {
	box-shadow: 0 0 2px 1px #66afff inset;
}
[type="radio"],
summary {
	cursor: pointer;
}
a {
	border-bottom: 1.5px solid #80c8ff;
}
a:focus, a:hover {
	border-bottom: 2px solid #0060c0;
}
a:active {
	border-bottom: 2px dotted #00a000;
}
a:not([href]) { /* Including [href] into previous rules makes them too specific. */
	border-bottom: none;
}
a.note {
	border: none;
	box-shadow: 0 0 2px 0 #a0b0e0;
	padding: 0.05em 0.1em 0 0.06em;
}
a.note:focus,
a.note:hover,
span.note:hover a.note {
	background-color: #ffffbb;
}
a.note::before,
small.note::before {
	color: #000000;
	content: attr(data-sign);
	line-height: 0;
	top: 2px;
	vertical-align: super;
}
a.note[aria-label]::before {
	content: attr(aria-label);
	font-size: 0.8em;
}
a[title="Link"]:empty::before {
	border: none;
	color: #ccccee;
	content: "#";
	float: left;
	font-weight: normal;
	font-size: 1rem;
	hyphens: manual;
	left: -0.95rem;
	letter-spacing: 0;
	line-height: 1;
	position: absolute;
	text-indent: 0;
	text-shadow: 0.5px 0.5px 1.5px #ccccee;
}
abbr {
	text-decoration: underline 1px dotted #0040a0;
}
b {
	font-weight: bolder;
}
big {
	font-size: larger;
}
code,
pre {
	font-family: "Consolas", "Source Code Pro", monospace;
	font-size: 0.9em;
	overflow: auto;
}
dd {
	padding-left: 4%;
}
dd + dt {
	margin-top: 0.4em;
}
:is(del, s),
:is(del, s):focus,
:is(del, s):hover,
:is(del, s):active {
	text-decoration: line-through 3px solid #40404040;
}
details,
figure,
p {
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}
details > details {
	margin: 0.4em 0;
	padding-left: 1.5em;
}
dt {
	font-weight: bolder;
}
em {
	letter-spacing: 0.2em;
	padding-left: 0.2em;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin-top: 0.5em;
	padding: 0.3em 0.6em 0.4em 0.6em;
}
figcaption {
	contain: inline-size;
	font-size: 0.9em;
	margin-top: 0.3em;
}
figure {
	display: inline-table;
	max-width: 100%;
}
figure > img {
	display: block;
	object-fit: contain;
}
flag- {
	background-color: #2244aa;
	box-shadow: 0 0 8px 1.5px #ffff00;
	color: #e8f8ff;
	display: inline-block;
	line-height: 1em;
	margin: 0 -0.5em 0 0.2em;
	padding: 1px 4px 1px 4px;
	text-align: center;
	text-shadow: none;
	transform: rotate(-30deg) translateY(-0.4em);
	z-index: 10;
}
footer .img {
	margin: 0.4em 0.4em 0 0;
	padding: 2px;
	vertical-align: text-top;
}
form.card {
	max-width: 1111px;
}
h1 {
	font-size: 1.76em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
h5 {
	font-size: 1.05em;
}
h1, h2, h3, h4, h5, h6 {
	break-after: avoid;
	clear: both;
	font-weight: normal;
	hyphens: manual;
	line-height: 1.2;
	margin: 1em 0 0.618em 0;
	page-break-after: avoid;
	text-align: start;
}
h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
	margin-top: 0.4em;
}
html {
	background-color: #f0f0f0;
	box-sizing: border-box;
	font-family: Libertinus, sans-serif;
	font-size: 20px;
	height: 100%;
	line-height: 1.37;
	scroll-padding-top: 2.5em;
	z-index: 0;
}
html:focus-within {
	scroll-behavior: smooth;
}
i {
	font-style: italic;
}
img {
	max-width: 100%;
}
ins {
	bottom: 0.15em;
	font-size: 0.9em;
}
ins::after {
	color: #00aa00;
	content: "/";
	font-size: 1.15em;
	font-weight: bolder;
}
ins::before {
	color: #00aa00;
	content: "\\";
	font-size: 1.15em;
	font-weight: bolder;
}
kbd {
	font-family: inherit;
	text-shadow: 0 0 2px #0088ee;
}
label.key {
	align-items: baseline;
	display: inline-flex;
	gap: 5px;
}
legend {/* from github.com/necolas/normalize.css */
	display: table;
	max-width: 100%;
	white-space: normal;
}
li {
	margin: 0.15em 0;
}
main {
	display: block;
	z-index: 2;
}
pre {
	overflow-x: auto;
	tab-size: 4;
}
q {
	quotes: none;
}
re-ins {
	text-decoration: underline dotted;
}
section, section.card {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
select {
	max-width: 12em;
}
small.note {
	background: #ffffff;
	box-shadow: 0 0 2px 0 #a0b0e0;
	float: right;
	font-size: 0.85rem;
	margin-right: -54%;
	padding: 4px 5px 4px 5px;
	text-align: start;
	width: 51%;
}
small.note:target {
	z-index: 1;
}
span.note {
	font-weight: normal;
	margin: 0 3px 0 3px;
}
span.note:hover > a.note,
span.note:hover > small.note {
	box-shadow: 0 0 3px 2px #66afff;
	z-index: 2;
}
/* sub and sup styles from github.com/necolas/normalize.css */
sub,
sup {
	font-size: 0.8em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
u, u:focus, u:hover, u:active {
	text-decoration: underline 1.2px;
}
ul {
	list-style-type: none;
}
ul.list,
ol.list {
	margin: 0.4em 0;
	padding-left: 1.5em;
}
ul.list {list-style-type: disc}
ul.list ul.list {list-style-type: circle}
ul.list ul.list ul.list {list-style-type: square}
@keyframes blink {
	from {
		box-shadow: 0 0 0 0.5em #aaaa00;
	}
	to {
		box-shadow: 0 0 2em 1em #ffffa0;
	}
}
@media screen and (max-width: 1000px) {
	.desk > body > footer {
		margin: 1em 0 0 0;
		padding: 8px 4px 8px 4px;
		text-align: center;
	}
	.desk > body > header {
		float: none;
		overflow: visible;
		padding: 8px 4px 8px 4px;
		position: relative;
		width: 100%;
	}
	.desk > body > header a > img {
		display: inline-block;
		height: 2em;
		vertical-align: top;
	}
	.desk > body > header li {
		display: inline-block;
		margin: 0 5px 0 5px;
	}
	.desk > body > header li > a,
	.desk > body > header li > b {
		padding: 0 5px 0 5px;
	}
	.desk > body > main {
		margin-left: 0;
		padding: 8px 4px 8px 4px;
		width: 100%;
	}
	.flip + .menuswitch {
		display: block;
		font-size: 0.7em;
		line-height: 1;
		margin-top: 5px;
		text-align: center;
		width: 40em;
	}
	.flip + .menuswitch + * {
		display: none;
	}
	.flip:checked + .menuswitch + * {
		background: #fafafa;
		display: block;
		margin: 10px 30px 10px 30px;
		padding: 10px 10px 10px 10px;
	}
	.sheet {
		width: 84%;
		padding: 7% 10% 8% 10%;
	}
	.wide {
		width: 100%;
	}
	small.note {
		margin-right: -40%;
		text-align: start;
		width: 38%;
	}
}
@media screen and (max-width: 550px) {
	.sheet {
		margin-left: 0;
		margin-right: 0;
		overflow: visible !important;
		width: 100%;
	}
	.embed_left,
	.embed_right {
		display: block;
		float: none;
	}
	small.note,
	small.note small.note {
		border: 1px solid #cccccc;
		box-shadow: none;
		clear: both;
		display: block !important;
		float: none;
		margin-left: 5%;
		margin-right: 0%;
		position: relative !important;
		top: auto !important;
		width: 95% !important;
		z-index: 1;
	}
}
@media print {
	*, *::before, *::after {
		background: transparent !important;
		overflow: visible !important;
		box-shadow: none !important;
	}
	#filter_card,
	.desk > body > footer,
	.desk > body > header,
	nav.prev_next {
		display: none;
	}
	.sheet {
		width: 100%;
	}
	a.note::after,
	a[href^="javascript:"]::after {
		content: "" !important;
	}
	caption, figcaption, p, small, tr {
		orphans: 2;
		widows: 2;
	}
	figure, h1, h2, h3, h4, h5, h6, img {
		page-break-inside: avoid;
	}
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	main {
		margin: 0 !important;
		padding: 0 !important;
	}
	small.note,
	small.note small.note {
		border: 1px solid #cccccc;
		box-shadow: none;
		clear: both;
		display: block !important;
		float: right;
		line-height: 1;
		margin: 0.4em 0 0.4em 2%;
		text-align: start !important;
		top: auto !important;
		width: 36% !important;
		z-index: 1;
	}
	span.note {
		box-shadow: none;
	}
}
