@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff. (© http://badw.de)
*/
.card.edition > article {
	max-height: 10em;
	overflow: hidden;
}
.card.edition > article::after {
	background: linear-gradient(#ffffff00, #ffffffff);
	content: "";
	display: block;
	height: 2.5em;
	position: absolute;
	top: 8em;
	width: 100%;
}
.card.edition:focus > article {
	max-height: none;
	overflow: visible;
}
.card.edition:focus > article::after {
	display: none;
}
.covertitle > h1 {
	text-align: center;
}
.desk_across > body > header > img {
	height: 2.5em;
}
.desk_across > body > header h1 small {
	font-size: 0.75em;
}
.edition > body > main > nav {
	font-size: 0.8em;
	max-width: 9%;
	position: fixed;
	z-index: 3;
}
.edition > body > main > nav > .flexrow {
	justify-content: space-between;
}
:is(.edition, .editor) > body > main > article :is(h1, h2, h3, h4, h5, h6) {
	text-align: center;
}
:is(.edition, .editor) > body > main > article .postal {
	box-shadow: inset 0 0 1px 5px#ffffb0;
}
:is(.edition, .editor) > body > main > article .sheet-num {
	padding: 1px 2px;
	position: absolute;
	width: auto;
}
:is(.edition, .editor) > body > main > article note-l.sheet-num {
	margin-right: 5px;
	right: 100%;
	width: auto;
}
:is(.edition, .editor) > body > main > article :is(
		note-r.sheet-num,
		note-x.sheet-num) {
	margin-left: 5px;
	left: 100%;
	width: auto;
}
.flexrow {
	gap: 5px;
}
code {
	color: #4466aa;
}
@font-face {
	font-family: Libertinus;
	font-style: normal;
	font-weight: normal;
	src:url("/fonts/LibertinusSans-Regular.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-style: italic;
	src:url("/fonts/LibertinusSans-Italic.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-weight: bold;
	src:url("/fonts/LibertinusSans-Bold.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@media screen and (max-width: 1000px) {
	.desk > body > header h1 {
		display: inline-block;
		margin: 0 0 0 1%;
		vertical-align: top;
	}
	.desk > body > header img {
		height: 3.6em;
	}
}
