@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff. (© http://badw.de)
*/
.anm {
	color: #707070;
}
.anm::before {
	content: " — ";
}
.authority,
.creator {
	letter-spacing: 0.2em;
	text-align: right;
}
.card.rich {
	box-shadow: 0 1px 3px 0 #a0b0e4;
	margin: 1px;
	min-height: 1em;
	min-width: 1em;
	padding: 0 8px 0 8px;
}
.card.rich p {
	margin: 0.1em 0;
}
.desk > body > .filterform {
	margin-left: 0;
	padding: 0 1% 0 1%;
}
.desk > body > .filterform > form > div {
	padding: 2.5em 0 3em 0;
}
.desk > body > .filterform > form > p {
	background: #ffffff;
	position: fixed;
	z-index: 2;
}
.desk > body > header,
.desk > body > header h1 {
	text-align: left;
}
.desk > body > header h1 {
	font-size: 1.32em;
}
.desk > body > header form {
	justify-content: flex-start;
}
.desk > body > header nav > ul > li > ul {
	font-size: 0.95em;
	margin: 0 0 0.35em 10%;
}
.emph {
	font-size: larger;
	font-weight: bolder;
}
.flexbase {
	justify-content: space-between;
	list-style: None;
}
.flexcol {
	gap: 1px;
}
.flexrow {
	gap: 1em;
}
.last_name {
	font-variant: small-caps;
}
.tox-toolbar-dock-transition,
.tox-toolbar-dock-fadein { /*for TinyMCE*/
	z-index: 2;
}
.werk .mapping tr:first-of-type {
	font-weight: bolder;
}
[l]:lang(de):not([l|="de"]) {display: none}
[l]:lang(en):not([l|="en"]) {display: none}
cite {
	font-style: italic;
}
main > article a.incipit {
	font-style: italic;
}
main > article a[href^="http"]::after {
	color: #1080c0;
	content: "↗";
}
q {
	color: #104595;
}
s, s:hover {
	text-decoration: line-through;
}
span.note {
	margin: 0 3px 0 3px;
}
@font-face {
	font-family: Libertinus;
	font-style: normal;
	font-weight: normal;
	src:url("/-/fonts/LibertinusSans-Regular.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-style: italic;
	src:url("/-/fonts/LibertinusSans-Italic.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-weight: bold;
	src:url("/-/fonts/LibertinusSans-Bold.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@media screen and (max-width: 1000px) {
	.desk > body > header h1 {
		display: inline-block;
		margin: 0 0 0 1%;
		vertical-align: top;
	}
}
