@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff. (© http://badw.de)
*/
.ABC.list {
	list-style-type: upper-alpha;
}
.catalognav {
	margin-bottom: -7%;
	text-align: right;
	top: -3em;
}
.catalognav > a,
.catalognav > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.citebox_add_credit {
	color: #666666;
	font-size: 0.9em;
	margin-top: 0.2em;
	padding: 0.4em 15px;
}
.desk > body > header,
.desk > body > header h1 {
	text-align: right;
}
.desk > body > header form {
	justify-content: flex-end;
}
.desk > body > header h1 a:not(.key):is(:active, :focus, :hover) {
	background: inherit;
	box-shadow: none;
}
.desk > body > header h1 small {
	font-size: 0.66em;
}
.desk > body > header nav h2 {
	color: #222222;
	font-size: 1.1em;
	margin: 0.4em 0 0.2em 0;
}
.desk_across > body > header:not(:focus, :hover)::after {
	content: "…";
}
.desk_across > body > header :is(.img, form, h1, img, nav) {
	display: none;
}
.desk_across > body > header:is(:focus, :hover) nav {
	display: initial;
}
.desk_across > body > header nav {
	font-size: 0.8em;
}
.desk_across > body > header nav:first-of-type {
	display: flex;
}
.desk_across > body > header:not(:focus, :hover) nav:first-of-type > :not(:first-child) {
	display: none;
}
.desk_across > body .repro {
	align-items: start;
	display: flex;
	flex-wrap: nowrap;
	gap: 1em;
	z-index: 2;
}
.desk_across > body .repro > #image {
	cursor: move;
}
.desk_across > body .repro > #transcription {
	cursor: move;
	max-width: calc(45% - 1em);
	min-width: calc(45% - 1em);
}
.desk_across > body .repro > figure {
	cursor: move;
	margin: 1px;
}
.desk_across > body h1 {
	font-size: 1.35em;
}
.desk_across > body h2 {
	font-size: 1.2em;
}
.desk_across > body h3 {
	font-size: 1.1em;
}
.desk_across > body h4 {
	font-size: 1.05em;
}
.desk_across > body img {
	max-width: none;
}
.desk_across > body :is(h1, h2, h3, h4, h5, h6) {
	margin: 0.4em 0 0.3em 0;
}
.droparea > .droparea {
	background-color: #f4f4f4;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-align: justify;
}
.droparea:focus > .droparea,
.droparea:hover > .droparea,
.droparea > .droparea:focus {
	height: auto;
	opacity: 1;
	padding: 4px 8px 8px 8px;
	z-index: 3;
}
.droparea > .droparea > a,
.droparea > .droparea > strong {
	padding: 0 4px 0 4px;
}
.field {
	border: none;
}
.field:hover {
	background-color: #e8f8ff;
	border: none;
	box-shadow:
		0 0 6px 1px #66afff,
		0 0 0 1px #ffffff;
}
.flexbase {
	justify-content: flex-start;
	list-style: None;
}
.flexrow {
	gap: 5px;
}
.greyed > td {
	background: #f1f1f1;
}
.headingrow > td {
	background: #eaeaf1;
	font-weight: bold;
}
.inline > p {
	display: inline;
}
.key[type="submit"]:focus,
button[type="submit"]:focus {
	animation: glimmer 1s infinite;
}
.kolumnentitel {
	color: #606060;
	font-size: 0.9em;
	margin: 0 0 3% 0;
}
.kolumnentitel > .droparea > .droparea {
	font-size: 0.9em;
	max-width: 70vw;
	width: 800px;
}
.lemma {
	border-collapse: collapse
}
.lemma td, .lemma th {
	padding: 4px 10px 3px 0;
}
.lemma th {
	color: #606060;
	font-weight: normal;
	text-align: left;
}
.lemma th[colspan="2"] {
	font-size: 1.1em;
	letter-spacing: 0.2em;
	padding-top: 8px;
}
.ltr_embed {
	direction: ltr;
	unicode-bidi: embed;
}
.rangestart::before {
	content: "|" attr(data-id) "|"
}
.nowrap {
	white-space: nowrap;
}
.num, .num:focus, .num:hover, .num:active {
	text-decoration: overline;
}
.pagina::before,
.pagina_extra::before {
	color: #000000;
	content: "/" attr(data-prefix) attr(id) "/";
	font-size: larger;
	font-weight: bold;
}
.pagina[data-id]::before,
.pagina_extra[data-id]::before {
	content: "/" attr(data-prefix) attr(data-id) "/";
}
.para_in_note {
	display: block;
	text-align: start;
}
.parts div {
	margin: 0.4em 0;
}
.parts th {
	padding-left: 0;
	padding-right: 10px;
	text-align: left;
}
.petit,
small {
	font-size: 0.9em;
}
.plain,
.plain:hover {
	border: none;
	box-shadow: none;
}
.publications > section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 1.8em;
}
.publications > section > a {
	border-bottom: none;
}
.publications > section > :nth-child(1) {
	width: 100px;
}
.publications > section > :nth-child(2) {
	min-width: 300px;
	width: calc(95% - 100px);
}
.publications > section > div > p:nth-child(1) {
	font-size: smaller;
	font-variant: small-caps;
}
.publications > section > div > p:nth-child(3) {
	font-size: smaller;
}
.red {
	color: #b80000;
}
.sans_auth .not_sans_auth {
	display: none;
}
.selectlabel {
	left: -100%;
	position: absolute;
}
.selectlabel + select {
	min-width: 12em;
}
.siglum {
	text-decoration: underline 1px dotted #0040a0;
}
.siglum + .resolution {
	box-shadow:
		inset 0 0 0 1px #ffffff,
		0 0 6px 1px #66afff;
	display: none;
	font-size: smaller;
	text-align: start;
}
.siglum:focus + .resolution,
.siglum:hover + .resolution,
.siglum + .resolution:hover {
	display: block;
	opacity: 1;
	position: absolute;
	z-index: 10;
}
.toc_entry_main {
	font-size: 1.2em;
	font-weight: bold;
}
.toc_entry_minor {
	padding-left: 4%;
}
.toc_entry_minor[dir="rtl"] {
	padding-right: 4%;
}
.transcription > details > nav {
	display: table;
	font-size: 0.9em;
}
.transcription > div.txt {
	border-bottom: 1.2px solid #b0c0e0;
	border-top: 1.2px solid #b0c0e0;
	margin-bottom: 1em;
	padding: 0.4em 0 0.4em 0;
}
.transcription > header {
	margin: 0 0 2em 0;
}
.transcription details {
	margin: 0.4em 0;
}
.transcription details > .citebox {
	margin-top: 0.35em;
}
.with_subentries td p {
	font-size: 0.9em;
	padding-left: 40px;
	text-indent: -40px;
}
.with_subentries td p * {
	text-indent: 0;
}
:has(> .embed_not) {
	text-align: center;
}
[data-on] {
	background: #ffee00;
	display: inline-block;
	height: 1em;
	width: 2px;
}
[dir="ltr"] {
	direction: ltr;
	line-height: 1.37;
}
[dir="rtl"] {
	direction: rtl;
	font-family: QuaedamArabica, Libertina, serif !important;
	font-size: 0.8;
	font-style: normal !important;
	line-height: 1.9;
}
[dir="rtl"] [dir="ltr"] > a {
	display: inline-block;
}
[dir="rtl"] a.note {
	font-size: 0.99em;
	padding: 0 0.09em 0 0.06em;
}
/* Hack 2 on top of hack 1 until more browsers support dir(): */
[dir="rtl"] a[title="Link"]:empty::before {
	position: relative;
}
/* Hack 1 because Browsers treat float: left as float: right with position: absolute in RTL text: */
a[title="Link"]:empty:dir(rtl)::before {
	position: relative;
}
a abbr {
	text-decoration: none;
}
address {
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}
address p {
	margin-bottom: 0;
	margin-top: 0;
}
article > header > h1 small {
	display: block;
	font-size: smaller;
	margin-top: 0.5em;
}
cite {
	font-style: italic;
}
:is(cite, i) > :is(cite, i),
cite.parttitle {
	font-style: normal;
}
html {
	font-family: Libertina, serif;
}
non-public {
	color: #ff0000;
}
p:has(> .centerblock) {
	text-align: center;
}
rp,
rt {
	font-size: 0.75em;
	margin-bottom: -4px;
}
small.note .embed_left {
	display: inline-block;
	float: none;
}
span:target,
td:target {
	background-color: #ffffa0;
	color: #000000;
} /* Only for ms_jordanus.tpl. */
table.card {
	display: table;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	z-index: 1;
}
table:empty::after {
	color: #aaaaaa;
	content: "⟦TABLE⟧";
}
table small.note {
	display: none;
	position: absolute;
	right: 0;
	text-align: justify;
	top: 1.1em;
	width: 18em;
}
table a.note:active + small.note,
table span.note:hover > small.note,
table small.note:hover {
	display: block;
}
td, th {
	padding: 4px 5px;
	vertical-align: top;
}
ul.list li,
ol.list li {
	margin: 0.4em 0;
}
@font-face {
	font-family: "QuaedamArabica";
	font-style: normal;
	font-weight: normal;
	src:url("/fonts/amiri-regular.woff2") format("woff2");
	unicode-range:U+0600-06FF;
}
@font-face {
	font-family: Libertina;
	font-style: normal;
	font-weight: normal;
	src:url("/fonts/SymLibertine_R.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertina;
	font-style: italic;
	src:url("/fonts/LinLibertine_RI.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertina;
	font-weight: bold;
	src:url("/fonts/LinLibertine_RB.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertina;
	font-weight: bold;
	font-style: italic;
	src:url("/fonts/LinLibertine_RBI.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@keyframes glimmer {
	0% {
		box-shadow:
			inset 0 0 0 1px #ffffff,
			0 0 3px 0 #aaafff;
	}
	50% {
		box-shadow:
			inset 0 0 0 1px #ffffff,
			0 0 6px 1px #66afff;
	}
	100% {
		box-shadow:
			inset 0 0 0 1px #ffffff,
			0 0 3px 0 #aaafff;
	}
}
@media screen and (max-width: 1000px) {
	.desk > body > header {
		text-align: center;
	}
	.desk > body > header h1,
	.desk > body > header h2 {
		text-align: center;
	}
}
