@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff. (© http://badw.de)
*/
.contenttable table {
	border-collapse: collapse;
}
.contenttable td {
	font-size: 0.9em;
	padding: 5px 8px 5px 8px;
}
/* in order to make cells with and without p alike: */
.contenttable td > p:first-of-type {
	margin-top: 0;
}
.contenttable td > p:last-child {
	margin-bottom: 0;
}
.description {
	font-size: 0.85em;
}
.desk > body > header,
.desk > body > header h1 {
	text-align: left;
}
.desk > body > header form {
	justify-content: flex-end;
}
.desk > body > main ol,
.desk > body > main ul {
	padding-left: 1.5em;
}
.desk > body > main ul {list-style-type: disc}
.desk > body > main ul ul {list-style-type: circle}
.desk > body > main ul ul ul {list-style-type: square}
.dropcap::first-letter {
	float: left;
	font-size: 3.45em;
	line-height: 0.6;
	margin-left: -0.06em;
	padding: 0.14em 0.06em 0 0;
	vertical-align: text-top;
}
.flexrow {
	gap: 5px;
}
.head {
	hyphens: manual;
	margin-bottom: 1.5em;
	text-align: center;
}
.head > h1,
.head > h2 {
	margin-top: 0;
	text-align: center;
}
.head_in_item {
	display: table;
	margin-bottom: 1.5em;
}
.head_in_item > h1 {
	display: table-row;
	font-size: 1.4em;
	margin-top: 0;
	text-align: initial;
}
.head_in_item > h1 > span {
	display: table-cell;
}
.head_in_item > h1 > span:first-of-type {
	display: table-cell;
	padding-right: 0.6em;
}
.head_in_item > p {
	display: table-row;
}
.head_in_item > p > span {
	display: table-cell;
	padding-top: 0.4em;
}
.inlining {
	display: block;
	margin: 0.4em 0;
}
.inlining_indented {
	display: block;
	margin: 0.4em 0 0.4em 1em;
}
.inlining p:first-of-type,
.inlining_indented p:first-of-type {
	display: inline;
}
.kolumnentitel {
	color: #606060;
	font-size: 0.9em;
	font-style: italic;
	margin: 0 0 3% 0;
	text-align: center;
}
.stoffgruppe table {
	border-collapse: collapse
}
.stoffgruppe table td,
.stoffgruppe table th {
	border: 1px solid #bbbbbb;
	padding: 0 4px 0 4px;
}
.stoffgruppe table tr:first-of-type {
	font-weight: bold;
}
.volume {
	font-size: 0.85em;
}
.with_kolumnentitel {
	padding: 5% 12% 9% 12%;
}
a.reg {
	border-bottom: 1.5px solid #00cc00;
	color: #000000;
}
a.reg:focus, .reg:hover {
	border-bottom: 1.5px solid #007700;
}
a.reg:active {
	border-bottom: 1.5px dotted #007700;
}
author-name {
	font-variant: small-caps;
}
html {
	font-family: "Calibri", "Noto Sans", "DejaVu Sans", sans-serif;
}
not-in-print {
	color: #006400;
}
#ug-einleitung > table {
	background: #ffffff;
	border-collapse: collapse;
	border-radius: 1px;
	box-shadow: 0 0 3px 0 #b0c0e0;
}
#ug-einleitung > table td {
	border: 1px solid #dddddd;
	padding-left: 0.4em;
	padding-right: 0.2em;
}
td {
	padding: 0 2px 0 2px;
	vertical-align: top;
}
@media screen and (max-width: 1000px) {
	.desk > body > header {
		text-align: center;
	}
	.desk > body > header h1,
	.desk > body > header h2 {
		text-align: center;
	}
}
