@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff. (© http://badw.de)
*/
#focus {
	background: #ffffff;
	border: none;
	box-shadow:
		0 0 0 1px #ffffff inset,
		0 0 6px 1.5px #66afff;
	color: #000000;
}
#image_row + tr > td {
    border-top: none;
}
.back_to_top.key {
	font-size: 0.8em;
	left: 0;
	margin-top: 1em;
	position: fixed;
	bottom: 0;
	z-index: 3;
}
.covertitle > h1 > small {
	display: block;
	font-size: 0.8em;
	margin-top: 0.4em;
}
.capsline {
	font-size: 1.1em;
}
.capsline::first-line {
	font-variant: small-caps;
}
.desk > body > header h1 small {
	font-size: 0.68em;
	margin-top: 0.4em;
}
.desk_across > body > header .img > img {
	height: 1.6em;
}
.flexcol {
	align-items: flex-start;
}
:is(.h2, .h3, .h4, .h5, .h6) {
	margin-top: 0.6em;
}
.h3 {
	margin-left: 1.5em;
}
.h4 {
	margin-left: 3em;
}
.h5 {
	margin-left: 4.5em;
}
.h6 {
	margin-left: 6em;
}
.index td > small {
	padding-left: 1em;
}
cite {
	font-style: italic;
}
html[lang|="de"] [l]:not([l|="de"]) {display: none}
html[lang|="en"] [l]:not([l|="en"]) {display: none}
x- {
	display: none;
}
@font-face {
	font-family: Libertinus;
	font-style: normal;
	font-weight: normal;
	src:url("/-/content/fonts/LibertinusSans-Regular.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-style: italic;
	src:url("/-/content/fonts/LibertinusSans-Italic.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-weight: bold;
	src:url("/-/content/fonts/LibertinusSans-Bold.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@media screen and (max-width: 1000px) {
	.desk > body > header {
		text-align: center;
	}
	.desk > body > header h1,
	.desk > body > header h2 {
		text-align: center;
	}
}
