@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff. (© http://badw.de)
*/
.desk > body > header,
.desk > body > header h1 {
	text-align: right;
}
.desk > body > header h1 small {
	font-size: 0.575em;
}
@font-face {
	font-family: Libertinus;
	font-style: normal;
	font-weight: normal;
	src:url("/-/fonts/LibertinusSans-Regular.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-style: italic;
	src:url("/-/fonts/LibertinusSans-Italic.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@font-face {
	font-family: Libertinus;
	font-weight: bold;
	src:url("/-/fonts/LibertinusSans-Bold.woff2") format("woff2");
	unicode-range:U+0000-1F728;
}
@media screen and (max-width: 1000px) {
	.desk > body > header {
		text-align: center;
	}
	.desk > body > header h1,
	.desk > body > header h2 {
		text-align: center;
	}
}
