@charset "utf-8";
/*
Licensed under http://www.apache.org/licenses/LICENSE-2.0
Attribution notice: by Stefan Müller in 2013 ff.
*/
.annotation {
	border-bottom: 2px solid #fff088;
	border-left: 1px solid #fff088;
	border-right: 1px solid #fff088;
	border-radius: 0.5em;
	padding-bottom: 0.03em;
}
.authority,
.creator {
	letter-spacing: 0.2em;
}
.desk > body > header,
.desk > body > header h1 {
	text-align: right;
}
.desk > body > header h1 small {
	font-size: 0.68em;
}
.dfn {
	padding-left: 40px;
	text-indent: -40px;
}
.dfn > dfn {
	letter-spacing: 0.1em;
}
.flexcol,
.flexrow {
	gap: 5px;
}
.local-row {
	border: none;
	color: #bbbbcc;
	font-size: 0.9em;
}
.mapping > caption {
	margin: 1.4em 0 0.4em 0;
	width: 100%;
}
.mapping:first-child > caption {
	margin-top: 0;
}
.nonowrap {
	white-space: normal;
}
.nowrap {
	display: table;
	max-width: none;
	white-space: nowrap;
}
.paragroup {
	margin-top: 1.6em;
}
.paragroup:first-of-type {
	margin-top: 0;
}
.ref::before {
	color: #bbbbbb;
	content: "▶";
	font-size: 0.9em;
	margin: 0 0.1em 0 0;
	top: -0.1em;
}
.synopsis {
	border-spacing: 1em;
	display: inline-table;
	table-layout: fixed;
	width: 100%;
}
.synopsis td,
.synopsis th {
	vertical-align: text-top;
}
.synopsis td:last-child,
.synopsis th:last-child {
	font-size: 0.8em;
	width: 33%;
}
cite {
	font-style: italic;
}
html[lang|="ar"] [l]:not([l|="ar"]) {display: none}
html[lang|="de"] [l]:not([l|="de"]) {display: none}
html[lang|="en"] [l]:not([l|="en"]) {display: none}
html[lang|="fr"] [l]:not([l|="fr"]) {display: none}
html[lang|="it"] [l]:not([l|="it"]) {display: none}
html[lang|="ja"] [l]:not([l|="ja"]) {display: none}
html[lang|="pl"] [l]:not([l|="pl"]) {display: none}
html[lang|="ru"] [l]:not([l|="ru"]) {display: none}
html[lang|="tr"] [l]:not([l|="tr"]) {display: none}
label:hover {
	background-color: #f0f0ff;
}
p.organization {
	font-size: 1.2em;
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 1em;
}
p.release {
	margin-top: 1.5em;
}
p.subhead {
	break-after: avoid;
	page-break-after: avoid;
	font-size: 1.25em;
	margin-bottom: 1em;
	margin-top: -0.3em;
}
/*For notes within notes (like in Gesandtenberichte):*/
small.note small.note {
	display: none;
	margin-left: 0.1em;
	position: absolute;
	width: 11em;
}
small.note span.note:hover,
small.note span.note:hover > small.note {
	display: inline;
}
@media screen and (max-width: 1000px) {
	.desk > body > header {
		text-align: center;
	}
	.desk > body > header h1,
	.desk > body > header h2 {
		text-align: center;
	}
	.flexrow {
		justify-content: center;
	}
}
